<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            <h1>About</h1>
            <p>This is a weather application that provides real-time weather information.</p>
            <p>Created by Andrew Mead</p>
        </div>
    </body>
</html>